extends layout
block content 
  h1 Create Season 
  form(action='/season' method='post')
    label(for='season') Season 
      input(type='number' id='season' name='season' placeholder='Season Number' required)
    label(for='year') Year 
      input(type='number' id='year' name='year' placeholder='Season Year' required)
    label(for='episode') Episode 
      input(type='number' id='episode' name='episode' placeholder='Episode Number' required)
    #dynamicInput 
      
    input(type='button' value='Add Contestant' onClick='addContestant()')
  script(src='/javascripts/dom.js')    
      
  
